ion-content{
    --background:linear-gradient(0deg,rgba(196, 173, 173, 0.7),rgb(36, 34, 34)),
    url("/assets/tegui.png") no-repeat center center / cover;
  }
  
  .login-section{
    height: 74vh;
    width: 100%;
    max-width: 500px;
    background: #ef8d22;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
  
    .heading{
        margin-top: -10px;
        h1{
            font-size: 1.6rem;
            font-weight: bolder;
        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color: #7b7b7b;
        }
    }
    .login-form{
        .form-input{
            position: relative;
            margin-bottom: 0px;
            ion-item:par(native){
                padding-left: 0;
            }
            ion-icon{
                position:absolute;
                top:37px;
                z-index: 2;
                font-size: 1.2rem;
                left: 5px;
            }
            ion-label{
                position: absolute;
                margin-left: 35px;
                font-weight: bolder;
                font-size: 0.8rem;
                top: 3px;
            }
            ion-input{
                font-size: 0.9;
                --padding-start:36px;
                --padding-top:36px;
                color: #7b7b7b;
            }
        }
    }
    .action-button{
        text-align: center;
        .login-button{
            --background:#f9b801;
            width: 100%;
            font-weight: bold;
        }
        p{
            margin-top: 5px;
            font-size: 1rem;
            color: #7b7b7b;
        }
        .signup-button{
            --border-color:#b4b4b4;
            -color:#000000;
            font-weight: bold;
            margin-top: 100%;
            width: 100%;
        }
    }
  }
  
  
  ion-content {
    --background: #03224c;
  }
  
  .welcome-text {
    text-align: center;
    margin-top: 70px;
    color: #fff;
    font-size: xx-large;
  }
  
  .no-account-text {
    text-align: center;
    margin-top: 50px;
    color: #fff;
  }
  
  .register-link {
    color: #fff;
    text-decoration: underline;
  }
  .error-message{
      color: red;
      text-align: center;
  }
  
  
  //pour le code pin css
  ion-item .pin-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pin-code-chips-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pin-code-chip {
    --background: #ddd;
    --color: #333;
    margin: 0 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
  }
  
  //fin css code pin
  
  
  .keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .key {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  background-color: #f4f4f4;
  border-radius: 25px;
  box-shadow: 1px 1px #ccc;
  }
  
  .key:active {
  background-color: #ddd;
  }
  
  .password {
  margin-top: 20px;
  text-align: center;
  }
  
  .password ion-input {
  font-size: 20px;
  width: 150px;
  text-align: center;
  }
  .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .key {
    width: calc(25% - 10px);
    height: 50px;
    margin: 5px;
    font-size: 20px;
    background-color: #f4f4f4;
    border-radius: 0;
    box-shadow: 1px 1px #ccc;
    text-align: center;
    line-height: 50px;
  }
  
  .key:active {
    background-color: #ddd;
  }
  
  .key.double-height {
    height: calc(50% - 10px);
  }
  
  .key.wide {
    width: calc(50% - 10px);
  }
  
  .key.green {
    background-color: green;
    color: #fff;
  }
  
  .password {
    margin-top: 20px;
    text-align: center;
  }
  
  .password ion-input {
    font-size: 20px;
    width: 150px;
    text-align: center;
  }
  
  .password-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5px;
  }
  
  .password-dot.active {
    background-color: orange;
  }
  .password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .password-dot.dot-active {
    background-color: #ffa500;
  }
  .clear-btn {
    background-color: #efefef;
    color: #333;
  }
  
  
  
  
  