<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button text="Back" icon="" color="tertiary" fill="outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-item>
    <ion-label position="fixed">REF N- :</ion-label>
    <ion-input type="text" readonly="true"  style="background-color: rgb(245, 245, 245);font-weight: bold;color: #000" [(ngModel)]="id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">CAT :</ion-label>
    <ion-input  readonly="true" style="font-weight: bold;color: #000;background-color: rgb(245, 245, 245)" placeholder="" type="text" [(ngModel)]="category"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Type :</ion-label>
    <ion-input  readonly="true" style="font-weight: bold;color: #000;background-color: rgb(245, 245, 245)" placeholder="" type="text" [(ngModel)]="systeme_vente"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Poids (g) :</ion-label>
    <ion-input  style="font-weight: bold;color: #000;" type="number" [(ngModel)]="poids"></ion-input>
  </ion-item>
  <ion-item *ngIf="systeme_vente === 'poids'">
    <ion-label position="fixed">Quantité :</ion-label>
    <ion-input type="number" [(ngModel)]="quantity" style="font-weight: bold;color: #000;"></ion-input>
  </ion-item>
  
 
  <ion-card>
    <ion-card-header style="background-color: #fcb800;font-weight: bold;" (click)="selectImage()">
      <ion-icon name="camera"  size="small"></ion-icon>  PRENDRE UNE PHOTO 
    </ion-card-header>
    <ion-card-content>
    
<h3  style="text-align: center;margin-top: 20px;" *ngIf="images.length === 0"> <ion-icon size="large" slot="icon-only" name="cloud-upload"></ion-icon> Choisir une photo par la camera</h3>

      <ion-list>
       
        <div *ngIf="images.length > 0" style="margin-top: 15px; text-align: center;">
          <ion-img [src]="images[0].path" style="max-width: 200px; border-radius: 8px;"></ion-img>
        </div>
          <ion-item *ngFor="let img of images; index as pos ">
            
        
            <div>
            

              <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
                <ion-icon  size="large" slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </div> <br>
          

            
      
          </ion-item>
        </ion-list>
    </ion-card-content>
  
</ion-card> 

<ion-button *ngIf="messerreur=='' " expand="block" padding color="tertiary" (click)="updateProsesItems(imgtest)" >Valider </ion-button>

</ion-content>